<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nutrishield_1">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="NutriShield_1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutriShield_1"
        tools:targetApi="31">
        <activity
            android:name=".ShopkeeperProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ShopkeeperHomeActivity"
            android:exported="false" /> <!-- 🚀 LAUNCHER -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 🔐 SHOPKEEPER FLOW -->
        <activity
            android:name=".ShopkeeperSignInActivity"
            android:exported="false" />
        <activity
            android:name=".ShopkeeperSignupStep1Activity"
            android:exported="false" />
        <activity
            android:name=".ShopkeeperSignupStep2Activity"
            android:exported="false" /> <!-- 👤 CUSTOMER FLOW -->
        <activity
            android:name=".CustomerSignInActivity"
            android:exported="false" /> <!-- OTHER -->
        <activity android:name=".AccountSetupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>